<div class="box">
  <div class="columns" *ngIf="events && events.length > 0">
    <div class="column is-10 is-offset-1">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nazwa wydarzenia</th>
            <th>Data wydarzenia</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let event of events; let i = index;" [attr.data-index]="event.id">
            <tr (click)="selectRow(event);">
              <th>{{event.id}}</th>
              <th>{{event.eventName}}</th>
              <th>{{event.date | date: 'dd/MM/yyyy HH:mm'}}</th>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="has-text-centered">
      <h1 class="is-size-3">
        Dodaj nowe wydarzenie
      </h1>
    </div>
    <div class="columns">
      <form class="column is-10 is-offset-1">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-large" type="text" placeholder="Nazwa wydarzenia" autofocus="" [(ngModel)]="newEvent.eventName" name="eventName">
            <span class="icon is-large is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <textarea class="textarea" placeholder="Agenda" [(ngModel)]="newEvent.agenda" name="agenda"></textarea>
        </div>
        <div class="field">
          <app-datetime-picker [(selectedDate)]="selectedDate"></app-datetime-picker>
        </div>
        <div class="has-text-centered">
          <h1 class="is-size-4">
            {{ getPickedDate() }}
          </h1>
        </div>
        <button *ngIf="!currentEditedEvent" class="button is-primary is-fullwidth is-medium" (click)="submitForm();">
          Dodaj wydarzenie
        </button>
        <ng-container *ngIf="currentEditedEvent">
          <button class="button is-primary is-fullwidth is-medium" (click)="updateEvent();">
            Aktualizuj wydarzenie
          </button>
          <button class="button is-warning is-fullwidth is-medium" (click)="cancel();">
            Anuluj
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</div>