<div class="field is-grouped is-pulled-right">
  <p class="control">
    <a class="button is-primary is-outlined is-medium" routerLink="/register">
      <span class="icon">
        <i class="fas fa-user-plus"></i>
      </span>
      <span>
        Załóż konto
      </span>
    </a>
  </p>
  <p class="control">
    <a class="button button is-primary is-outlined is-medium" routerLink="">
      <span class="icon">
        <i class="fas fa-sign-in-alt"></i>
      </span>
      <span>
        Zaloguj się
      </span>
    </a>
  </p>
</div>