.container {
    padding-top: 100px;
}

.my-notification {
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.columns {
    margin-top: 0px;
    padding-top: 0px;
}

.column {
    margin-top: 0px;
    padding-top: 0px;
}