<div class="columns">
  <div class="column">
    <div class="calendar">
      <div class="calendar-nav">
        <div class="calendar-nav-previous-month">
          <button class="button is-text" (click)="changeNavMonth(-1);">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
        <div>{{navDate.format('MMMM YYYY')}}</div>
        <div class="calendar-nav-next-month">
          <button class="button is-text" (click)="changeNavMonth(1);">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="calendar-container">
        <div class="calendar-header">
          <div class="calendar-date" *ngFor="let day of weekDaysHeader">{{day}}</div>
        </div>
        <div class="calendar-body">
          <div *ngFor="let day of grid" class="calendar-date">
            <button *ngIf="day.value !== 0" class="date-item" (click)="selectDay(day);">{{day.value}}</button>
            <button *ngIf="day.value === 0" class="date-item"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="columns">
      <div class="column">
        <button class="button is-large is-primary is-fullwidth" (click)="changeHour(1);">
          <span class="icon is-large">
            <i class="fas fa-arrow-up"></i>
          </span>
        </button>
      </div>
      <div class="column">
        <button class="button is-large is-primary is-fullwidth" (click)="changeMinute(1);">
          <span class="icon is-large">
            <i class="fas fa-arrow-up"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <div class="box">
          {{ selectedHour }}
        </div>
      </div>
      <div class="column">
        <div class="box">
          {{ selectedMinutes }}
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <button class="button is-large is-primary is-fullwidth" (click)="changeHour(-1);">
          <span class="icon is-large">
            <i class="fas fa-arrow-down"></i>
          </span>
        </button>
      </div>
      <div class="column">
        <button class="button is-large is-primary is-fullwidth" (click)="changeMinute(-1);">
          <span class="icon is-large">
            <i class="fas fa-arrow-down"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>