<div class="container has-text-centered">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="notification is-danger" *ngIf="error">
        <button class="delete" (click)="error = null;"></button>
        {{ error }}
      </div>
      <div class="box">
        <form>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" type="text" placeholder="Login" autofocus="" [(ngModel)]="userRegister.login" name="login">
              <span class="icon is-large is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" [type]="passwordType" placeholder="Hasło" [(ngModel)]="userRegister.password" name="password">
              <span class="icon is-large is-left">
                <i class="fas fa-key"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" [type]="passwordType" placeholder="Potwórz hasło" [(ngModel)]="repeatedPassword" name="repeatedPassword">
              <span class="icon is-large is-left">
                <i class="fas fa-key"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" type="text" placeholder="Imię" [(ngModel)]="userRegister.firstName" name="firstName">
              <span class="icon is-large is-left">
                <i class="fas fa-users-cog"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" type="text" placeholder="Nazwisko" [(ngModel)]="userRegister.lastName" name="lastName">
              <span class="icon is-large is-left">
                <i class="fas fa-users-cog"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-large" type="text" placeholder="Email" [(ngModel)]="userRegister.email" name="email">
              <span class="icon is-large is-left">
                <i class="fas fa-at"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" (change)="passwordCheckbox($event);"> Pokaż hasło
            </label>
          </div>
          <a [ngClass]="{ 'is-loading': loading }" class="button is-block is-primary is-large is-fullwidth" type="button" (click)="submitForm();">
            Załóż konto
          </a>
        </form>
      </div>
    </div>
  </div>
</div>